<nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
    <div class="container">   
      <div class="tm-next">
        <!-- Assuming 'index' is the function name for your homepage view -->
        <a href="{{ url_for('index') }}" class="navbar-brand">Infinite Loop</a>
      </div>             
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars navbar-toggler-icon"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <!-- Link to Home -->
          <li class="nav-item">
              <a class="nav-link tm-nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
          <!-- Link to About -->
          <li class="nav-item">
              <a class="nav-link tm-nav-link" href="{{ url_for('about') }}">About</a>
          </li>
          <!-- Link to Loan Application -->
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="{{ url_for('loan_application') }}">Loan Application</a>
          </li>
          <!-- Link to Map View -->
          <li class="nav-item">
              <a class="nav-link tm-nav-link" href="{{ url_for('map_view') }}">Map View</a>
          </li>
          <!-- Assuming 'testimonials' is the function name for your testimonials view -->
          <li class="nav-item">
              <a class="nav-link tm-nav-link" href="{{ url_for('testimonials') }}">Testimonials</a>
          </li>                    
        </ul>
      </div>        
    </div>
  </nav>
  