<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Barcus and Neils Ko.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-5.5/css/all.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='slick/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='slick/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tooplate-infinite-loop.css') }}" />
<!--
Tooplate 2117 Infinite Loop
https://www.tooplate.com/view/2117-infinite-loop
-->

  </head>
  <body>    
    <!-- Hero section -->
    <section id="infinite" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
        <div class="container">   
          <div class="tm-next">
            <a href="{{ url_for('index_1930') }}" class="navbar-brand">BaNK</a>
          </div>             
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="{{ url_for('index_1930') }}">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="{{ url_for('about_1930') }}">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="{{ url_for('loan_application_1930') }}">Mortgage Application</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="{{ url_for('map_view_1930') }}">Map View</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="{{ url_for('testimonials_1930') }}">Car Loan</a>
              </li>                    
            </ul>
          </div>        
        </div>
      </nav>
      
      
      
      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">Barcus and Neils Ko</h2>
            <p class="tm-hero-subtitle">
                Private loans for the best interest rates
              <br>
            </p>
        </div>        
      </div>

      <div class="tm-next tm-intro-next">
        <a href="#whatwedo" class="text-center tm-down-arrow-link">
          <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
        </a>
      </div>      
    </section>

    <section id="whatwedo" class="tm-section-pad-top">
      
      <div class="container">

            <div class="row tm-content-box"><!-- first row -->
                <div class="col-lg-12 col-xl-12">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">What We Do</h2>
                        <p class="mb-4 tm-intro-text">
                            Greetings there! Have you ever gotten trouble from dealing wit a bank teller, taking so long to deal with your money, and in an often careless manner? Here at Barcus and Neils Ko., we take the plight of dealing with your finances with utmost importance!!! Introducing our online services, on the brand new World Wide Web! No more having to beat your gum with a teller. On the internet, you can go at your own pace!</p>
                    </div>
                </div>

            </div><!-- first row -->
            
            <div class="row tm-content-box"><!-- second row -->
        		<div class="col-lg-1">
                    <i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Prosperity Guidance</h2>
                        <p class="mb-4 tm-intro-text">
                            In this splendid era of prosperity, we believe in guiding the 'deserving' few to maintain the economic hierarchy that this decade is famous for. Our selective approach ensures that only the finest in society can amplify their wealth.</p>
                    </div>
                </div>
                
                <div class="col-lg-1">
                    <i class="far fa-3x fa-comment-alt text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Expedited Assistance</h2>
                        <p class="mb-4 tm-intro-text">
                           Why wait for the future when you can enjoy the rapid service of today? Our assistance is as brisk as a Charleston dance, selectively available to those who fit the mold of the Barcus and Neils ideal.</p>
                    </div>
                </div>

            </div><!-- second row -->
            
            <div class="row tm-content-box"><!-- third row -->
        		<div class="col-lg-1">
                    <i class="fas fa-3x fa-fingerprint text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Fortified Trust</h2>
                        <p class="mb-4 tm-intro-text">
                      Your assets and interests are as secure with us as the gold in Fort Knox. We value the trust of our esteemed clients, whose lineage assures us of their financial stability and worthiness.</p>
                          
                          <div class="tm-continue">
                            <a href="#testimonials" class="tm-intro-text tm-btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-1">
                    <i class="fas fa-3x fa-users text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                      <h2 class="tm-text-primary mb-4">Selective Philanthropy</h2>
                        <p class="mb-4 tm-intro-text">
                            We partake in the community as much as we partake in exclusive galas. Our social work ensures that prosperity is a closed circuit, kept within the confines of the 'right' social circles.</p>
                          
                          <div class="tm-continue">
                            <a href="#testimonials" class="tm-intro-text tm-btn-primary">Details</a>
                        </div>
                    </div>
                </div>

            </div><!-- third row -->

        </div>
      
    </section>
    
    <section id="testimonials" class="tm-section-pad-top tm-parallax-2">      
      <div class="container tm-testimonials-content">
        <div class="row">
          <div class="col-lg-12 tm-content-box">
            <h2 class="text-white text-center mb-4 tm-section-title">Testimonials</h2>
            <p class="mx-auto tm-section-desc text-center">
                Our testimonials speak volumes. Our clients, a veritable who's who of the era's most privileged, attest to the exclusivity and prestige of our services.
              </p>
            <div class="mx-auto tm-gallery-container tm-gallery-container-2">
              <div class="tm-testimonials-carousel">
                <figure class="tm-testimonial-item">
                  <img src="static/img/1920portrait1.jpg" alt="Image" class="img-fluid mx-auto">
                  <blockquote>"A tip of my bowler to Barcus and Neils, the only institution that appreciates the gravity of blue blood and green bills alike."</blockquote>
                  <figcaption>Theodore Reginald Forsythe    </figcaption>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="static/img/1920portrait2.jpg" alt="Image" class="img-fluid mx-auto">
                  <blockquote>"Splendid service at Barcus and Neils! They ensure my wealth is as well-kept as my top hat and tails. Old money, old friends, old rules."</blockquote>
                  <figcaption>Archibald J. Rockefellow</figcaption>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="static/img/1920portrait3.jpg" alt="Image" class="img-fluid mx-auto">
                  <blockquote>"Barcus and Neils keeps the riff-raff at bay. A bank that understands the worth of a good name and a pure pedigree."</blockquote>
                  <figcaption>Cornelius Vanderhoof III</figcaption>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="static/img/1920portrait4.jpg" alt="Image" class="img-fluid mx-auto">
                  <blockquote>"Exclusivity isn't just a word, it's a promise. Barcus and Neils deliver financial discretion fit for a gentleman of my stature."</blockquote>
                  <figcaption>Montgomery Sterling Astorbilt</figcaption>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="static/img/1920portrait5.jpg" alt="Image" class="img-fluid mx-auto">
                  <blockquote>"Barcus and Neils provide a bastion for the time-honored elite. Their discernment is as refined as my taste in brandy."</blockquote>
                  <figcaption>Winthrop Carrington IV</figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tm-bg-overlay"></div>
    </section>
    
    <section id="gallery" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-text-primary tm-section-title mb-4">Visual Ledger</h2>
              <p class="mx-auto tm-section-desc">
                Our gallery is a ledger of success, displaying the finest abodes and automobiles reserved for those who represent the pinnacle of current society's success. Only the most esteemed neighborhoods and possessions for Barcus and Neils clientele.
              </p>
          </div>            
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mx-auto tm-gallery-container">
                    <div class="grid tm-gallery">
                      <a href="static/img/1920visual1.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static/img/1920visual1.jpg" alt="Image 1" class="img-fluid">
                          <figcaption>
                            <h2><i>Colonial Homestead <span>"Ancestral Comfort"</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="static/img/1920visual2.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static/img/1920visual2.jpg" alt="Image 2" class="img-fluid">
                          <figcaption>
                            <h2><i>Regal Manor<br><span>Affluent</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="static/img/1920visual3.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static/img/1920visual3.jpg" alt="Image 3" class="img-fluid">
                          <figcaption>
                            <h2><i><span>Rustic Dwelling</span> "One With Nature"</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="static/img/1920visual4.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static/img/1920visual4.jpg" alt="Image 4" class="img-fluid">
                          <figcaption>
                            <h2><i>Country Estate<br><span>"Aristocratic Retreat"</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="static/img/1920visual5.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static/img/1920visual5.jpg" alt="Image 5" class="img-fluid">
                          <figcaption>
                            <h2><i><span>Suburban Plot</span> "Rich"</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="static/img/1920visual6.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static/img/1920visual6.jpg" alt="Image 6" class="img-fluid">
                          <figcaption>
                            <h2><i>Vintage Sedan<br><span>"Instaneous Arrival"</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="static/img/1920visual7.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static/img/1920visual7.jpg" alt="Image 7" class="img-fluid">
                          <figcaption>
                            <h2><i>City Roadster<br><span>"Urban Charmer"</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="static/img/1920visual8.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="static/img/1920visual8.jpg" alt="Image 8" class="img-fluid">
                          <figcaption>
                            <h2><i>Model-T<br><span>"Wind-blown Wealth"</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                </div>                
            </div>        
          </div>
      </div>
    </section>
    <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
      <div class="container">   
        <div class="tm-next">
            <a href="{{ url_for('index') }}" class="navbar-brand">Infinite Loop</a>
        </div>             
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link tm-nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tm-nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link tm-nav-link" href="{{ url_for('loan_application') }}">Loan Application</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tm-nav-link" href="{{ url_for('map_view') }}">Map View</a>
            </li>
          </ul>
        </div>        
      </div>
    </nav>
    

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
    

      	<footer class="text-center small tm-footer">
          <p class="mb-0">
          Copyright &copy; 1920 BaNK
        </footer>

    </section>
    
    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>     
    <script src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.singlePageNav.min.js') }}"></script>     
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/your-custom-js-file.js') }}"></script> <!-- If you have custom JS -->
    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        } 
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm        
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){          
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        
        $(window).scroll(function(){
          if($(window).width() > 768) {
            var firstTop = $object.offset().top,
                pos = $(window).scrollTop(),
                yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

            var bg_css = 'center ' + yPos + 'px';

            $object.css({"background-position" : bg_css });
          } else {
            $object.css({"background-position" : "center" });
          }
        });
      };
      
      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);   
        background_image_parallax_2($("#testimonials"), 0.80);   
        
        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){          
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });
        
        // Close mobile menu after click 
        $(function(){
          // Modify the selector to only target anchor tags that have a hash ('#')
          $('#tmNav a[href*="#"]').singlePageNav({
            'easing': 'easeInOutExpo',
            'speed': 600
          });

          // Ensure the other links are not affected by singlePageNav
          $('#tmNav a:not([href*="#"])').on('click', function(){
            var href = $(this).attr('href');
            if (href && href != '#') {
              window.location.href = href;
            }
          });
        });

        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 600, 'easeInOutExpo', function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery: { enabled: true }
        });

        $('.tm-testimonials-carousel').slick({
          dots: true,
          prevArrow: false,
          nextArrow: false,
          infinite: false,
          slidesToShow: 3,
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 2
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 2
              }
            }, 
            {
              breakpoint: 480,
              settings: {
                  slidesToShow: 1
              }                 
            }
          ]
        });

        // Gallery
        $('.tm-gallery').slick({
          dots: true,
          infinite: false,
          slidesToShow: 5,
          slidesToScroll: 2,
          responsive: [
          {
            breakpoint: 1199,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
        });
      });
    </script>
  </body>
</html>